.env
captures/node_modules
working-data/captures/**/*.json
working-data/captures/**/*.png
working-data/exports/**/*.png
working-data/final-images
cloud/keys.json
captures/Pipfile
_local/raw_pictures
_local/exports
keys.json
_local